<!-- Generated template for the VoteComponent component -->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Stäng</button>
    </ion-buttons>
    <ion-title>
      Välj typ av händelse.
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid padding color="white">
    <ion-row>
      <ion-col>
        <img class="votebtn" id="Pistolskott" src="../../assets/imgs/Pistolskott.PNG" (click)="vote('Pistolskott')"><br>
        <p class="headline">Pistolskott</p>
      </ion-col>
      <ion-col>
        <img class="votebtn" id="Rån" src="../../assets/imgs/Rån.PNG" (click)="vote('Rån')"><br>
        <p class="headline">Rån</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img class="votebtn" id="Bilstöld" src="../../assets/imgs/Bilstöld.PNG" (click)="vote('Bilstöld')"><br>
        <p class="headline">Bilstöld</p>
      </ion-col>
      <ion-col>
        <img class="votebtn" id="Olycka" src="../../assets/imgs/Olycka.PNG" (click)="vote('Olycka')"><br>
        <p class="headline">Olycka</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img class="votebtn" id="Explosion" src="../../assets/imgs/Explosion.PNG" (click)="vote('Explosion')"><br>
        <p class="headline">Explosion</p>
      </ion-col>
      <ion-col>
        <img class="votebtn" id="Skadegörelse" src="../../assets/imgs/Skadegörelse.PNG" (click)="vote('Skadegörelse')"><br>
        <p class="headline">Skadegörelse</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <button ion-button block id="confirmbtn" (click)="confirmVote()">Rösta</button>
</ion-footer>
