page-home {

    .icongrid {
        margin-top: 1px;
        padding-top: 1px;
    }

    ion-icon {
        font-size: 80px;
        text-align: center;
    }

    .iconcol {
        padding-top: 1px;
        margin-top: 1px;
        text-align: center;
    }

    h1 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        margin-top: 0px;
        color: color($colors, light);
        text-align: center;
    }

    h2 {
        color: #ffffff;
        text-align: center;
    }

    ion-input {
        background-color: white;
        border-radius: 10px;
    }

    .button {
        border-radius: 25px;
        background-color: color($colors, light);
        color: color($colors, primary);
    }

    .login {
        background-color: color($colors, orange);
        color: color($colors, light);
        width: 100%;
    }

    .login-form {
        margin: 5px 0;
        padding: 5px;
    }

    .grid {
        padding-top: 10px;
    }

    .colu {
        text-align: center;
    }
}
