page-welcome {

	h1 {
		color:  #FFFAF0;
		text-align: center;
	}
	
	.container {
		height: 100%;
		position: relative;
	}
	
	#infotext {
		color: #EEEE0;
		text-align: center;
		font-size: 18px;
	}
	
	.btn-toolbar button {
		width: 120px;
	}
	
	.btn-toolbar {
		position: absolute;
		bottom: 0px;
	}

	.divider {
		width:30px;
		height:auto;
		display:inline-block;
	}


}
