page-welcome {

	h1 {
		color:  #FFFAF0;
		text-align: center;
	}
	
	.container {
		height: 100%;
		position: relative;
	}
	
	#infotext {
		color: #EEEE0;
		text-align: center;
		font-size: 18px;
	}
	
	button {
		width: 120px;
	}

}
