<!--
  Generated template for the HändelserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-toolbar>
    <ion-segment color="orange" [(ngModel)]="icons">
      <ion-segment-button value="locate">
        <ion-icon name="locate" color="light"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="rss" (ionSelect)="selectedPolice()">
        <ion-icon name="logo-rss" color="light"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="facebook">
        <ion-icon name="logo-facebook" color="light"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div [ngSwitch] = "icons">
    <div *ngSwitchCase="'locate'">
      <ion-title>LOLUS Händelseflöde</ion-title>
        <ion-list>
          <ion-item  *ngFor = "let event of ev">
            <p class="handelse-title"><strong>Händelse: </strong></p>
            <p><strong>Tid:</strong> {{event?.time}}</p>
            <p><strong>Datum:</strong> {{event?.date}}</p>
            <p><strong>Plats:</strong> {{event?.title}}</p>
            <button ion-button class="dots-bttn" color="orange" icon-only item-end clear (click) ="presentModal(event?.title, event?.lat, event?.lng, event?.time)">
              <ion-icon name="more"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
    </div>
  <div *ngSwitchCase="'rss'">
     <ion-title>Polisens Händelseflöde Stockholm</ion-title>
      <ion-list>
        <ion-item  *ngFor = "let event of pev">
          <p><strong>Händelse:</strong> {{event?.name}}</p>
          <p><strong>Tid:</strong> {{event?.date}}</p>
          <p>{{event?.summary}}</p>
          <button ion-button class="dots-bttn" color="orange" icon-only item-end clear (click) ="presentPoliceEvent(event?.name, event?.summary, event?.url)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
  </div>
    <div *ngSwitchCase="'facebook'">
    </div>
  </div>

</ion-content>
