page-happenings {
  #police {
    width: 90%;
    margin-top: 0px;
    position: absolute;
    visibility: hidden;
  }
  #local {
    width: 90%;
    margin-top: 0px;
    position: absolute;
    visibility: visible;
  }
  #friends {
    width: 90%;
    margin-top: 0px;
    position: absolute;
    visibility: hidden;
  }

  ion-title {
     padding: 8px;
 }

  .handelse-title {
     font-size: 20px;
 }


}
