<!-- Generated template for the HmodalComponent component -->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Stäng</button>
    </ion-buttons>
    <ion-title>
      Händelseinformation
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
   <div class="map">
      <google-map></google-map>
   </div>
   <div class="information">
     <p class="left">
       <strong>Typ av händelse:</strong>
       <br /><strong>Plats:</strong> {{title}}
       <br /><strong>Tid:</strong> {{time}}
     </p>
     <ion-title>Vet du mer?</ion-title>
     <ion-row>
        <ion-col class="button-col">
           <button class="comment-bttn" ion-button color="light" round>Kommentera händelse</button>
        </ion-col>
     </ion-row>
  </div>
</ion-content>
