hmodal {
  .cen{
    text-align: center;
  }

  ion-title {
     text-align: center;
 }

 .map {
    height: 70%;
}

  .left{
    text-align: left;
  }

  #map {
    height:90%;
  }

  .button-col {
     text-align: center;
 }

 .comment-bttn {
    background-color: color($colors, orange);
    color: color($colors, light);
}

}
